#container {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: 1fr 6fr;
    grid-template-areas: 'header header' "aside main";
}

#header {
    background-color: #30110D;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    font-size: 3rem;
    grid-area: header;
    cursor: default;
}

#begin {
    display: flex;
}

#header i {
    animation-name: cycle;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    max-height: 3rem;
}

@media screen and (max-width: 500px) {
    #header {
        font-size: 2rem;
    }
    #header i {
        max-height: 2rem;
    }
}

@keyframes cycle {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#sidebar {
    grid-area: aside;
    color: white;
    background-color: #722620;
}

#bod {
    grid-area: main;
    color: black;
    background-color: #F2BC94;
    cursor: pointer;
}

.nav {
    display: flex;
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1.1rem;
}

.nav:hover {
    background-color: #290c0a
}

#new {
    margin-left: 1rem;
    margin-top: 0rem;
    padding: 0.5rem;
    font-size: 1.1rem;
}

#new ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: -0.5rem;
}

#new ul li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#Projects {
    cursor: default;
}

#oneli {
    margin-top: 1rem;
}

#bod {
    padding: 1rem;
}

#bodHead {
    font-size: 2rem;
    margin-bottom: 1rem;
    cursor: default;
}

#bodAdd {
    font-size: 3rem;
    margin-left: 1rem;
}

form {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    padding: 1rem 3rem 1rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
    border-radius: 25px;
    height: 75vh;
    z-index: 1000;
}

label {
    margin-top: 1rem;
    align-self: flex-start;
}

#submit {
    margin-top: 1rem;
    width: 50%;
    height: 2rem;
}

#submit:hover {
    background-color: aqua;
    border: 0px;
}

input,
textarea,
select {
    margin-top: -1rem;
    width: 100%;
    font-size: 1.5rem;
    border-radius: 25px;
}

input:hover,
textarea:hover,
select:hover,
input:active,
textarea:active,
select:active {
    box-shadow: 0px 0px 10px 0px rgb(229, 255, 0) inset;
    outline: none;
}

#blur {
    background-color: grey;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.taskDiv {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 50px;
    height: 3rem;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 5px 2px 2px black
}

.taskDiv:hover {
    transform: translateY(-5px);
}

.buttonsDiv {
    font-size: 1.5rem;
    display: flex;
}

svg {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

svg:hover {
    animation-name: shake;
    animation-duration: 0.5s;
    animation-iteration-count: 3;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(15deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.sliderDiv label {
    margin-top: 0;
}

.switch {
    display: inline-block;
    position: relative;
    width: 6rem;
    height: 2.5rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #ccc;
    transition: all 0.4s;
    border-radius: 34px;
}

.slider::before {
    position: absolute;
    content: '';
    height: 2.1rem;
    width: 2.1rem;
    left: 4px;
    bottom: 4px;
    transition: 0.4s;
    background-color: white;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider::before {
    transform: translateX(50px);
}

.active {
    background-color: #290c0a;
}

#projectInput {
    height: 1rem;
    font-size: 0.7rem;
    margin-top: 0rem;
    width: 70%;
}

.projectList {
    padding: 0.3rem;
    display: flex;
}

.projectList:hover {
    background-color: #290c0a
}

.noDisplay {
    display: none;
}

#signIn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

#googleButton, #localStorageButton {
    margin: 1rem;
    padding: 3.6rem;
    font-size: 2.6rem;
    border: none;
    outline: none;
    color: #290c0a;
}

#googleButton {
    background-color: palegreen;
}

#localStorageButton {
    background-color: palevioletred;
}

#infoDisplay {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    right: 0;
    padding: 0.5rem;
}

#infoDisplay img {
    border-radius: 50px;
    width: 4rem;
    height: 4rem;
}

