#container {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: 1fr 6fr;
    grid-template-areas: 'header header' "aside main";
}

#header {
    background-color: #30110D;
    color: white;
    display: flex;
    padding: 2rem;
    font-size: 3rem;
    grid-area: header;
    cursor: default;
}

#header i {
    animation-name: cycle;
    animation-duration: 0.1s;
    animation-iteration-count: infinite;
    max-height: 3rem;
}

@keyframes cycle {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(135deg);
    }
    100% {
        transform: rotate(335deg);
    }
}

#sidebar {
    grid-area: aside;
    color: white;
    background-color: #722620;
}

#bod {
    grid-area: main;
    color: black;
    background-color: #F2BC94;
    cursor: pointer;
}

.nav {
    display: flex;
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1.1rem;
}

.nav:hover {
    background-color: #290c0a
}

#new {
    margin-left: 1rem;
    margin-top: -0.5rem;
}

#Projects {
    cursor: default;
}

#oneli {
    margin-top: 1rem;
}

#bod {
    padding: 1rem;
}

#bodHead {
    font-size: 2rem;
    margin-bottom: 1rem;
    cursor: default;
}

#bodAdd {
    font-size: 1.5rem;
    margin-left: 1rem;
}

form {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    padding: 1rem 3rem 1rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
    border-radius: 25px;
    height: 75vh;
    z-index: 1000;
}

label {
    margin-top: 1rem;
    align-self: flex-start;
}

#submit {
    margin-top: 1rem;
    width: 50%;
    height: 2rem;
}

#submit:hover {
    background-color: aqua;
    border: 0px;
}

input,
textarea,
select {
    margin-top: -1rem;
    width: 100%;
    font-size: 1.5rem;
    border-radius: 25px;
}

input:hover,
textarea:hover,
select:hover,
input:active,
textarea:active,
select:active {
    box-shadow: 0px 0px 10px 0px rgb(229, 255, 0) inset;
    outline: none;
}

#blur {
    background-color: grey;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}